services:
  orderapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Server=mssql,1433;Database=ecommercedb;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True
      - ServiceBusOption__RabbitMqConnectionString=amqp://rabbitmq:password12@rabbitmq:5672/
    ports:
    - "8080:8080"
    - "8081:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
  workerservice:       
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Database=Server=mssql,1433;Database=ecommercedb;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True
      - ServiceBusOption__RabbitMqConnectionString=amqp://rabbitmq:password12@rabbitmq:5672/
  rabbitmq:
   ports:
    - 5672:5672 
    - 15672:15672
   environment:
    RABBITMQ_DEFAULT_USER: "rabbitmq"
    RABBITMQ_DEFAULT_PASS: "password12" 